@import 'ember-paper';

$primary: "teal";
$accent: "light-green";
$warn: "pink";

.sean-lomax-head {
  img {
    width: 100% !important;
    height: 100% !important;
    max-width: 200px;
    max-height: 240px;
  }
}
